@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// Variables
$fontDark: rgb(45, 45, 45);
$backgroundLight: rgb(230, 230, 230);
$fontLight: rgb(230, 230, 230);
$backgroundDark: rgb(45, 45, 45);
$highlightText: rgba(0, 153, 255, 1);
$opacityOverlay: rgba(0, 0, 0, 0.9);
$bodyFontSize: 1rem;
$h1: 2.5rem;
$h2: 2rem;
$h3: 1.5rem;
$h4: 1.3rem;
$h5: 1.2rem;
$font: 'Rubik', sans-serif;
$smoothTransition: 0.3s ease;

// Mixins
@mixin flexRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

// Default styling for elements
* {
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $fontLight;
}

h1 {
	font-size: $h1;
}

h2 {
	font-size: $h2;
}

h3 {
	font-size: $h3;
}

h4 {
	font-size: $h4;
}

h5 {
	font-size: $h5;
}

img {
	width: auto;
	height: 100%;
}

// Custom styling for elements
body {
	width: 100%;
	// min-height: 100vh;
	overflow-x: hidden;
	color: $fontLight;
	font-family: $font;
	font-size: $bodyFontSize;
	background: $backgroundLight;
}

// Nav styling
nav {
	background: $backgroundDark;
	color: $fontLight;
	padding: 0.5rem 3rem;
	width: 100%;
	height: auto;
	@include flexRow();
	justify-content: space-between;
	position: fixed;
	z-index: 2;
	transition: $smoothTransition;
	transform: translateY(0);

}

.nav__hidden {
	transform: translateY(-100%);
	padding: 0 3rem;
	transition: $smoothTransition;
}

.nav__sticky {
	position: fixed;
	top: 0;
	z-index: 2;
	transition: $smoothTransition;
	transform: translateY(0%);
}

// Logo styling
.logo__container {
	padding: 5px;
	width: auto;
	height: 4rem;
	position: relative;
	top: 0;
	left: 0.5rem;
	z-index: 2;
	@include flexRow();
	justify-content: center;
}

.logo {
	height: 100%;
	width: auto;
	filter: drop-shadow(-10px 10px 3px rgba(0, 0, 0, 0.5))
}

// Nav items styling
nav ul {
	width: auto;
	@include flexRow();
	text-transform: uppercase;
}

nav ul li {
	list-style-type: none;
	@include flexRow();
}

nav ul li a {
	padding: 1rem;
	transition: $smoothTransition;
}

nav ul li a:hover {
	background: rgba(220, 20, 60, 0.7);
}

// Burger menu styling
.burger__container {
	display: none;
}

.burger__line {
	background: white;
	width: 100%;
	height: 20%;
}

// Header styling
header {
	position: relative;
	background: $backgroundDark;
	background: url('../assets/home-page/header.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 95vh;
	@include flexColumn();
}

// Dark header overlay styling
.dark__overlay {
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.8;
}

// Title container style
.text__container {
	margin: 1rem;
	position: absolute;
	height: 50%;
	@include flexColumn();
}

// Highlighted title styling
.highlight__title {
	color: $highlightText;
	border-bottom: 4px solid $highlightText;
}

.header__container {
	@include flexRow();
	justify-content: center;
}

.header__logo__container {
	width: 15%;
	height: auto;
	margin: 1rem;
}

.header__logo__container img {
	height: 100%;
	width: 100%;
}

.header__text {
	position: relative;
	left: 0;
}

.icon__container {
	width: 100%;
	position: absolute;
	bottom: 1rem;
}

.fa-sort-down {
	font-size: 4rem;
	color: $fontLight;
	animation: scroll 2s infinite;
	color: $highlightText;
}

// Section styling
section {
	position: relative;
	background: $backgroundLight;
	width: 100%;
	min-height: 90vh;
	@include flexColumn();
	justify-content: center;
	padding: 6rem;
	color: $fontDark;
}

.section__title {
	color: $highlightText;
	border-bottom: 3px solid $highlightText;
}

.content__wrapper {
	@include flexRow();
	width: 90%;
}

.text__wrapper {
	width: 45%;
}

.img__wrapper {
	width: 50%;
	position: relative;
	@include flexRow();
	justify-content: flex-end;
	align-items: flex-end;
}

.img__wrapper img {
	width: 100%;
	height: 100%;
	box-shadow: 10px 10px 20px 1px rgba(45, 45, 45, 0.3);
	border-radius: 2rem;
}

// Footer styling
footer {
	position: relative;
	bottom: 0;
	background: $backgroundDark;
	width: 100%;
	padding: 3rem 0;
	@include flexRow();
	justify-content: center;
}

.footer--left {
	width: 25%;
}

.footer--right {
	width: 25%;
}

.highlight__text {
	color: $highlightText;
}

.highlight__text:hover {
	border-bottom: 1px solid $highlightText;
}

// Hidden class to hide elements with JS
.hidden {
	display: none;
}

// Animations
@keyframes scroll {
	0% {
		transform: translateY(-50%);
	}
	30% {
		transform: translateY(0%);
	}
	60% {
		transform: translateY(-50%);
	}
	70% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-50%);
	}
}

@media only screen and (max-width: 1023px) {
	// Custom styling for elements
	body {
		width: 100%;
		height: 100vh;
		overflow-x: hidden;
		color: $fontLight;
		font-family: $font;
		font-size: $bodyFontSize;
		background: $backgroundLight;
	}

	nav {
		width: 100%;
		height: 100vh;
		@include flexColumn();
		justify-content: flex-start;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		padding: 0;
		transform: translateY(-100%);
		transition: $smoothTransition;
	}

	.nav__active {
		@include flexColumn();
		transform: translateY(0);
	}

	.top__nav__wrapper {
		width: 100%;
		height: 20%;
		display: flex;
		justify-content: space-between;
	}

	.logo__container {
		padding: 0;
		margin: 0 1rem;
		position: unset;
		width: auto;
		height: 8rem;
		text-align: center;
	}

	.nav__list__container {
		width: 100%;
		height: 70%;
		@include flexColumn();
		overflow-y: auto;
	}

	nav ul {
		width: 100%;
		height: auto;
		@include flexColumn();
	}

	nav ul li {
		width: 100%;
	}

	nav ul li a {
		padding: 2rem 0;
		width: 100%;
	}

	.burger__container {
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 50px;
		height: 40px;
		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;
		margin: 0.5rem;
		cursor: pointer;
	}

	.burger__line {
		transition: $smoothTransition;
		background: $highlightText;
	}

	.burger__cross .line1 {
		transform: rotate(-45deg) translate(-50%, 50%);
	}

	.burger__cross .line2 {
		transform: translate(50%);
		opacity: 0;
	}

	.burger__cross .line3 {
		transform: rotate(45deg) translate(-40%, 40%);
	}
	
	// Header styling
	header {
		height: 95vh;
		background-attachment: scroll;
	}

	// Title container style
	.text__container {
		height: 90%;
		justify-content: center;
	}

	.header__container {
		@include flexColumn();
	}

	.header__logo__container {
		height: auto;
		margin: 2rem;
		width: 60%;
	}

	// Section styling
	section {
		padding: 1rem;
	}

	.content__wrapper {
		width: 100%;
	}

	.text__wrapper {
		width: 100%;
	}

	.img__wrapper {
		width: 100%;
		margin: 1rem 0;
	}

	// Footer styling
	footer {
		justify-content: space-around;
		padding: 2rem 0;
	}

	.footer--left {
		width: 40%;
	}

	.footer--right {
		width: 50%;
	}

	// Hidden class to hide elements
	.hidden {
		display: none;
	}
}