@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e6e6e6;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

img {
  width: auto;
  height: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
  color: #e6e6e6;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  background: #e6e6e6;
}

nav {
  background: #2d2d2d;
  color: #e6e6e6;
  padding: 0.5rem 3rem;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav__hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  padding: 0 3rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav__sticky {
  position: fixed;
  top: 0;
  z-index: 2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.logo__container {
  padding: 5px;
  width: auto;
  height: 4rem;
  position: relative;
  top: 0;
  left: 0.5rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  height: 100%;
  width: auto;
  -webkit-filter: drop-shadow(-10px 10px 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(-10px 10px 3px rgba(0, 0, 0, 0.5));
}

nav ul {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
}

nav ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li a {
  padding: 1rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav ul li a:hover {
  background: rgba(220, 20, 60, 0.7);
}

.burger__container {
  display: none;
}

.burger__line {
  background: white;
  width: 100%;
  height: 20%;
}

header {
  position: relative;
  background: #2d2d2d;
  background: url("../assets/home-page/header.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dark__overlay {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
}

.text__container {
  margin: 1rem;
  position: absolute;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.highlight__title {
  color: #0099ff;
  border-bottom: 4px solid #0099ff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo__container {
  width: 15%;
  height: auto;
  margin: 1rem;
}

.header__logo__container img {
  height: 100%;
  width: 100%;
}

.header__text {
  position: relative;
  left: 0;
}

.icon__container {
  width: 100%;
  position: absolute;
  bottom: 1rem;
}

.fa-sort-down {
  font-size: 4rem;
  color: #e6e6e6;
  -webkit-animation: scroll 2s infinite;
          animation: scroll 2s infinite;
  color: #0099ff;
}

section {
  position: relative;
  background: #e6e6e6;
  width: 100%;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem;
  color: #2d2d2d;
}

.section__title {
  color: #0099ff;
  border-bottom: 3px solid #0099ff;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}

.text__wrapper {
  width: 45%;
}

.img__wrapper {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.img__wrapper img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 10px 10px 20px 1px rgba(45, 45, 45, 0.3);
          box-shadow: 10px 10px 20px 1px rgba(45, 45, 45, 0.3);
  border-radius: 2rem;
}

footer {
  position: relative;
  bottom: 0;
  background: #2d2d2d;
  width: 100%;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer--left {
  width: 25%;
}

.footer--right {
  width: 25%;
}

.highlight__text {
  color: #0099ff;
}

.highlight__text:hover {
  border-bottom: 1px solid #0099ff;
}

.hidden {
  display: none;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  30% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  60% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  30% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  60% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media only screen and (max-width: 1023px) {
  body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: #e6e6e6;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    background: #e6e6e6;
  }
  nav {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .nav__active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .top__nav__wrapper {
    width: 100%;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo__container {
    padding: 0;
    margin: 0 1rem;
    position: unset;
    width: auto;
    height: 8rem;
    text-align: center;
  }
  .nav__list__container {
    width: 100%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-y: auto;
  }
  nav ul {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    padding: 2rem 0;
    width: 100%;
  }
  .burger__container {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50px;
    height: 40px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    margin: 0.5rem;
    cursor: pointer;
  }
  .burger__line {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    background: #0099ff;
  }
  .burger__cross .line1 {
    -webkit-transform: rotate(-45deg) translate(-50%, 50%);
            transform: rotate(-45deg) translate(-50%, 50%);
  }
  .burger__cross .line2 {
    -webkit-transform: translate(50%);
            transform: translate(50%);
    opacity: 0;
  }
  .burger__cross .line3 {
    -webkit-transform: rotate(45deg) translate(-40%, 40%);
            transform: rotate(45deg) translate(-40%, 40%);
  }
  header {
    height: 95vh;
    background-attachment: scroll;
  }
  .text__container {
    height: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__logo__container {
    height: auto;
    margin: 2rem;
    width: 60%;
  }
  section {
    padding: 1rem;
  }
  .content__wrapper {
    width: 100%;
  }
  .text__wrapper {
    width: 100%;
  }
  .img__wrapper {
    width: 100%;
    margin: 1rem 0;
  }
  footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2rem 0;
  }
  .footer--left {
    width: 40%;
  }
  .footer--right {
    width: 50%;
  }
  .hidden {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */