@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e6e6e6;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

img {
  width: auto;
  height: 100%;
}

button {
  outline: none;
  padding: 10px 13px;
  border: 1px solid #2d2d2d;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  background: transparent;
  color: #2d2d2d;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

body {
  width: 100%;
  overflow-x: hidden;
  color: #e6e6e6;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  background: #e6e6e6;
  background: #2d2d2d;
}

nav {
  background: #2d2d2d;
  color: #e6e6e6;
  padding: 0.5rem 3rem;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background: transparent;
  opacity: 0;
}

.nav__hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  padding: 0 3rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav__sticky {
  position: fixed;
  top: 0;
  z-index: 2;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  background: #2d2d2d;
}

.logo__container {
  padding: 5px;
  width: auto;
  height: 4rem;
  position: relative;
  top: 0;
  left: 0.5rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  height: 100%;
  width: auto;
  -webkit-filter: drop-shadow(-10px 10px 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(-10px 10px 3px rgba(0, 0, 0, 0.5));
}

nav ul {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
}

nav ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page--active {
  background: #0099ff;
}

nav ul li a {
  padding: 1rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

nav ul li a:hover {
  background: rgba(220, 20, 60, 0.7);
}

.burger__container {
  display: none;
}

.burger__line {
  background: white;
  width: 100%;
  height: 20%;
}

header {
  position: relative;
  background: #2d2d2d;
  background: url("../assets/header.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
}

.dark__overlay {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
}

.text__container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.highlight__title {
  color: #0099ff;
  border-bottom: 4px solid #0099ff;
  text-transform: uppercase;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.header__logo__container {
  width: 15%;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  background: #2d2d2d;
  border-radius: 2rem;
}

.header__logo__container img {
  height: 100%;
  width: 100%;
}

.header__text {
  position: relative;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.highlight__text {
  color: #0099ff;
}

.icon__container {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.fa-sort-down {
  font-size: 4rem;
  color: #e6e6e6;
  -webkit-animation: scroll 2s infinite;
          animation: scroll 2s infinite;
  color: #0099ff;
}

section {
  position: relative;
  background: #e6e6e6;
  width: 100%;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem;
  color: #2d2d2d;
}

.text__wrapper {
  width: 45%;
}

.img__wrapper {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.img__wrapper img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 10px 10px 20px 1px rgba(45, 45, 45, 0.3);
          box-shadow: 10px 10px 20px 1px rgba(45, 45, 45, 0.3);
  border-radius: 2rem;
}

.section--services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__title {
  color: #0099ff;
  border-bottom: 3px solid #0099ff;
  margin-bottom: 2rem;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}

.card__container {
  width: 100%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__wrapper {
  min-height: 55vh;
  width: 25%;
  margin: 1%;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2d2d2d;
  color: #e6e6e6;
  -webkit-box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.card__wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card__img__container {
  height: 25vh;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}

.card__img__container img {
  width: 100%;
  height: 100%;
  border-radius: 2rem 2rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__title__container {
  width: 100%;
  height: auto;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #0099ff;
}

.card__content__container {
  width: 100%;
  min-height: 30%;
  height: 30%;
  border-radius: 0 0 2rem 2rem;
  padding: 1rem;
}

.contact__button__container {
  margin-top: 2rem;
}

.contact__button__container button:hover {
  background: #2d2d2d;
  color: #e6e6e6;
}

.filter__input__container {
  color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 1rem;
}

.filter__input__container label {
  color: #2d2d2d;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.filter__input__container select {
  border: 1px solid #2d2d2d;
  outline: none;
  padding: 8px 0;
  background: transparent;
}

.team__members__container {
  width: 100%;
  min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.member__container {
  width: 30%;
  min-height: 50vh;
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  background: #e6e6e6;
  color: #2d2d2d;
}

.member__image__container {
  width: 10rem;
  height: 10rem;
}

.member__image__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.member__name__container {
  max-width: 100%;
}

.member__role__container {
  max-width: 100%;
}

.member__icons__container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  align-items: center;
  color: #2d2d2d;
  font-size: 3rem;
}

.member__icons__container a {
  color: #2d2d2d;
}

.fa-github {
  color: #3E2C00;
}

.fa-linkedin {
  color: #2867B2;
}

.social__icons__container {
  width: 50%;
  height: auto;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2rem;
}

.fa-facebook-square {
  color: #4267b2;
}

.fa-twitter-square {
  color: #1da1f2;
}

.contact__form__container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

#contactForm {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4rem 6rem;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  border-radius: 1rem;
  background: #2d2d2d;
  -webkit-box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.1);
}

.input__container--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5rem;
}

.input__container--bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 47%;
}

.input__container--message {
  width: 100%;
}

label {
  font-size: 1.3rem;
  color: #e6e6e6;
}

input {
  border: none;
  border-bottom: 1px solid rgba(230, 230, 230, 0.5);
  background: transparent;
  padding: 8px 0;
  width: 100%;
  font-size: 1rem;
  color: #e6e6e6;
  text-align: left;
}

#msgInput {
  border-bottom: 1px solid rgba(230, 230, 230, 0.5);
  margin-bottom: 2rem;
  padding: 8px 0;
  width: 100%;
  min-height: 5rem;
  color: #e6e6e6;
  font-size: 1rem;
  text-align: left;
}

#msgInput:focus {
  outline: none;
  border-bottom: 1px solid #0099ff;
}

input::-webkit-input-placeholder {
  font-size: 1rem;
}

input:-ms-input-placeholder {
  font-size: 1rem;
}

input::-ms-input-placeholder {
  font-size: 1rem;
}

input::placeholder {
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #0099ff;
  background: transparent;
}

.form__buttons__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__buttons__container button {
  color: #e6e6e6;
  border: 1px solid #e6e6e6;
}

.form__buttons__container button:hover {
  border: 1px solid #0099ff;
  background: #0099ff;
}

#clearForm:hover {
  border: 1px solid crimson;
  background: crimson;
}

footer {
  position: relative;
  bottom: 0;
  background: #2d2d2d;
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer--left {
  width: 25%;
}

.footer--right {
  width: 25%;
}

.highlight__link {
  color: #0099ff;
}

.highlight__link:hover {
  border-bottom: 1px solid #0099ff;
}

.no__opacity {
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.hidden {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: none;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  30% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  60% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  30% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  60% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media only screen and (max-width: 1024px) {
  body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: #e6e6e6;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    background: #e6e6e6;
  }
  nav {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .nav__active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background: #2d2d2d;
  }
  .top__nav__wrapper {
    width: 100%;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo__container {
    padding: 0;
    margin: 0 1rem;
    position: unset;
    width: auto;
    height: 8rem;
    text-align: center;
  }
  .nav__list__container {
    width: 100%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-y: auto;
  }
  nav ul {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    padding: 2rem 0;
    width: 100%;
  }
  .burger__container {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50px;
    height: 40px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    margin: 0.5rem;
    cursor: pointer;
  }
  .burger__line {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background: #0099ff;
  }
  .burger__cross .line1 {
    -webkit-transform: rotate(-45deg) translate(-50%, 50%);
            transform: rotate(-45deg) translate(-50%, 50%);
  }
  .burger__cross .line2 {
    -webkit-transform: translate(50%);
            transform: translate(50%);
    opacity: 0;
  }
  .burger__cross .line3 {
    -webkit-transform: rotate(45deg) translate(-40%, 40%);
            transform: rotate(45deg) translate(-40%, 40%);
  }
  header {
    height: 100%;
    background-attachment: scroll;
  }
  .text__container {
    height: 100%;
    padding: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .header__container--services {
    margin: 2rem;
  }
  .header__logo__container {
    height: auto;
    margin: 2rem;
    width: 60%;
  }
  section {
    padding: 1rem;
  }
  .content__wrapper {
    width: 100%;
  }
  .text__wrapper {
    width: 100%;
  }
  .img__wrapper {
    width: 100%;
    margin: 1rem 0;
  }
  .section__title {
    margin-bottom: 1rem;
  }
  .card__wrapper {
    width: 100%;
    margin: 1rem;
  }
  .card__img__container {
    height: 50%;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
  }
  .filter__input__container {
    width: auto;
  }
  .team__members__container {
    width: 100%;
  }
  .member__container {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
  }
  .member__image__container {
    width: 10rem;
    height: 10rem;
  }
  .member__image__container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .member__icons__container {
    font-size: 4rem;
  }
  .social__icons__container {
    width: 100%;
  }
  #contactForm {
    padding: 1rem;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .input__container--top {
    margin: 0;
  }
  .input__container--bottom {
    width: 100%;
  }
  .input__container {
    width: 100%;
  }
  label {
    font-size: 1.3rem;
    color: #e6e6e6;
  }
  input {
    margin-bottom: 2rem;
  }
  #msgInput {
    min-height: auto;
    width: 100%;
  }
  .form__buttons__container {
    width: 70%;
  }
  footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2rem 0;
  }
  .footer--left {
    width: 40%;
  }
  .footer--right {
    width: 50%;
  }
  .no__opacity {
    opacity: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .hidden {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */