@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// Variables
$fontDark: rgb(45, 45, 45);
$backgroundLight: rgb(230, 230, 230);
$fontLight: rgb(230, 230, 230);
$backgroundDark: rgb(45, 45, 45);
$highlightText: rgba(0, 153, 255, 1);
$opacityOverlay: rgba(0, 0, 0, 0.9);
$cardBackground: rgb(45, 45, 45);
$boxShadowColor: rgba(0, 0, 0, 0.1);
$bodyFontSize: 1rem;
$h1: 2.5rem;
$h2: 2rem;
$h3: 1.5rem;
$h4: 1.3rem;
$h5: 1.2rem;
$font: 'Rubik', sans-serif;
$smoothTransition: 0.3s ease;

// Mixins
@mixin flexRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

// Default styling for elements
* {
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $fontLight;
}

h1 {
	font-size: $h1;
}

h2 {
	font-size: $h2;
}

h3 {
	font-size: $h3;
}

h4 {
	font-size: $h4;
}

h5 {
	font-size: $h5;
}

img {
	width: auto;
	height: 100%;
}

button {
	outline: none;
	padding: 10px 13px;
	border: 1px solid $fontDark;
	font-family: $font;
	font-size: $h5;
	background: transparent;
	color: $fontDark;
	transition: $smoothTransition;
	cursor: pointer;
}

// Custom styling for elements
body {
	width: 100%;
	overflow-x: hidden;
	color: $fontLight;
	font-family: $font;
	font-size: $bodyFontSize;
	background: $backgroundLight;
}

// Nav styling
nav {
	background: $backgroundDark;
	color: $fontLight;
	padding: 0.5rem 3rem;
	width: 100%;
	height: auto;
	@include flexRow();
	justify-content: space-between;
	position: fixed;
	z-index: 2;
	transition: $smoothTransition;
	transform: translateY(0);
	background: transparent;
}

// Hide navbar
.nav__hidden {
	transform: translateY(-100%);
	padding: 0 3rem;
	transition: $smoothTransition;
}

// Stick navbar to top
.nav__sticky {
	position: fixed;
	top: 0;
	z-index: 2;
	transition: $smoothTransition;
	transform: translateY(0%);
	background: $backgroundDark;
}

// Logo container styling
.logo__container {
	padding: 5px;
	width: auto;
	height: 4rem;
	position: relative;
	top: 0;
	left: 0.5rem;
	z-index: 2;
	@include flexRow();
	justify-content: center;
}

.logo {
	height: 100%;
	width: auto;
	filter: drop-shadow(-10px 10px 3px rgba(0, 0, 0, 0.5))
}

// Nav items styling
nav ul {
	width: auto;
	@include flexRow();
	text-transform: uppercase;
}

nav ul li {
	list-style-type: none;
	@include flexRow();
}

// Style the current page nav element
.page--active {
	background: $highlightText;
}

nav ul li a {
	padding: 1rem;
	transition: $smoothTransition;
}

nav ul li a:hover {
	background: rgba(220, 20, 60, 0.7);
}

// Burger menu styling
.burger__container {
	display: none;
}

.burger__line {
	background: white;
	width: 100%;
	height: 20%;
}

// Header styling
header {
	position: relative;
	background: $backgroundDark;
	background: url('../assets/home-page/header.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 95vh;
	@include flexColumn();
	flex-wrap: nowrap;
}

// Dark header overlay styling
.dark__overlay {
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.3;
}

// Title container style
.text__container {
	position: absolute;
	height: 100%;
	width: 100%;
	@include flexColumn();
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
}

// Highlighted title styling
.highlight__title {
	color: $highlightText;
	border-bottom: 4px solid $highlightText;
	text-transform: uppercase
}

.header__container {
	@include flexRow();
	justify-content: center;
	margin-bottom: 2rem;
}

.header__logo__container {
	width: 15%;
	height: auto;
	margin: 1rem;
	padding: 1rem;
	background: $fontDark;
	border-radius: 2rem;
}

.header__logo__container img {
	height: 100%;
	width: 100%;
}

.header__text {
	position: relative;
	left: 0;
}

.highlight__text {
	color: $highlightText;
}

.icon__container {
	width: 100%;
	position: absolute;
	bottom: 1rem;
}

.fa-sort-down {
	font-size: 4rem;
	color: $fontLight;
	animation: scroll 2s infinite;
	color: $highlightText;
}

// Section styling
section {
	position: relative;
	background: $backgroundLight;
	width: 100%;
	min-height: 90vh;
	@include flexColumn();
	justify-content: center;
	padding: 6rem;
	color: $fontDark;
}

// Home section styling
.text__wrapper {
	width: 45%;
}

.img__wrapper {
	width: 50%;
	position: relative;
	@include flexRow();
	justify-content: flex-end;
	align-items: flex-end;
}

.img__wrapper img {
	width: 100%;
	height: 100%;
	box-shadow: 10px 10px 20px 1px rgba(45, 45, 45, 0.3);
	border-radius: 2rem;
}

// Services section styling
.section--services {
	@include flexColumn();
}

.section__title {
	color: $highlightText;
	border-bottom: 3px solid $highlightText;
	margin-bottom: 2rem;
}

.content__wrapper {
	@include flexRow();
	width: 90%;
}

.card__container {
	width: 100%;
	min-height: 50vh;
	@include flexRow();
	justify-content: center;
}

.card__wrapper {
	min-height: 50vh;
	width: 25%;
	margin: 1%;
	border-radius: 2rem;
	@include flexColumn();
	justify-content: space-between;
	background: $cardBackground;
	color: $fontLight;
	box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.card__img__container {
	height: 25vh;
	width: 100%;
	border-radius: 2rem 2rem 0 0;
}

.card__img__container img {
	width: 100%;
	height: 100%;
	border-radius: 2rem 2rem 0 0;
	object-fit: cover;
}

.card__title__container {
	width: 100%;
	height: auto;
	height: 30%;
	@include flexColumn();
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid $highlightText;
}

.card__content__container {
	width: 100%;
	min-height: 30%;
	height: 30%;
	border-radius: 0 0 2rem 2rem;
	padding: 1rem;
}

.contact__button__container {
	margin-top: 2rem;
}

.contact__button__container button:hover {
	background: $backgroundDark;
	color: $fontLight;
}

// Team section styling
.team__members__container {
	width: 100%;
	min-height: auto;
	// @include flexColumn();
	@include flexRow();
	justify-content: center;
}

// Each individual member
.member__container {
	width: 30%;
	min-height: 50vh;
	margin: 1rem;
	padding: 1rem;
	@include flexColumn();
	justify-content: space-around;
	flex-wrap: nowrap;
	box-shadow: 0 10px 20px 1px $boxShadowColor;
	border-radius: 2rem;
	background: $fontLight;
	color: $fontDark;
}

.member__image__container {
	width: 100%;
}

.member__image__container img {
	max-width: 10rem;
	height: 10rem;
	border-radius: 50%;
}

.member__name__container {
	max-width: 100%;
}

.member__role__container {
	max-width: 100%;
}

.member__icons__container {
	width: 100%;
	height: auto;
	@include flexRow();
	justify-content: space-evenly;
	align-items: center;
	color: $fontDark;
	font-size: 3rem;
}

.member__icons__container a {
	color: $fontDark;
}

// Member icons style
.fa-github {
	color: #3E2C00;
}

.fa-linkedin {
	color: #2867B2;
}

// Contact page styling
.social__icons__container {
	width: 50%;
	height: auto;
	font-size: 3rem;
	@include flexRow();
	justify-content: space-evenly;
	margin-bottom: 2rem;
}

.fa-facebook-square {
	color: rgb(66,103,178);
}

.fa-twitter-square {
	color: rgb(29,161,242);
}

.contact__form__container {
	width: 100%;
	height: auto;
	@include flexRow();
	justify-content: center;
	align-items: center;
}

#contactForm {
	width: 50%;
	@include flexColumn();
	padding: 4rem 6rem;
	box-sizing: unset;
	border-radius: 1rem;
	background: rgba($fontDark, 1);
	box-shadow: 0 10px 10px 1px $boxShadowColor;
}

// Top input container style
.input__container--top {
	@include flexRow();
	width: 100%;
	margin-bottom: 5rem;
}

// Bottom input container style
.input__container--bottom {
	width: 100%;
	@include flexRow();
}

.input__container {
	@include flexColumn();
	align-items: flex-start;
	width: 47%;
}

.input__container--message {
	width: 100%;
}

label {
	font-size: $h4;
	color: $fontLight;
}

input {
	border: none;
	border-bottom: 1px solid rgba($fontLight, 0.5);
	background: transparent;
	padding: 8px 0;
	width: 100%;
	font-size: $bodyFontSize;
	color: $fontLight;
	text-align: left;
}

// Message div styling
#msgInput {
	border-bottom: 1px solid rgba($fontLight, 0.5);
	margin-bottom: 2rem;
	padding: 8px 0;
	width: 100%;
	min-height: 5rem;
	color: $fontLight;
	font-size: $bodyFontSize;
	text-align: left;
}

#msgInput:focus {
	outline: none;
	border-bottom: 1px solid $highlightText;
}

input::placeholder {
	font-size: $bodyFontSize;
}

input:focus {
	outline: none;
	border-bottom: 1px solid $highlightText;
	background: transparent;
}

// Form buttons styling
.form__buttons__container {
	width: 100%;
	@include flexRow();
}

.form__buttons__container button {
	color: $fontLight;
	border: 1px solid $fontLight;
}

.form__buttons__container button:hover {
	border: 1px solid $highlightText;
	background: $highlightText;
}

#clearForm:hover {
	border: 1px solid crimson;
	background: crimson;
}

// Footer styling
footer {
	position: relative;
	bottom: 0;
	background: $backgroundDark;
	width: 100%;
	padding: 2rem 0;
	@include flexRow();
	justify-content: center;
}

.footer--left {
	width: 25%;
}

.footer--right {
	width: 25%;
}

// Highlight link style
.highlight__link {
	color: $highlightText;
}

.highlight__link:hover {
	border-bottom: 1px solid $highlightText;
}

// Hidden class to hide elements with JS
.hidden {
	display: none;
}

// Animations
@keyframes scroll {
	0% {
		transform: translateY(-50%);
	}
	30% {
		transform: translateY(0%);
	}
	60% {
		transform: translateY(-50%);
	}
	70% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-50%);
	}
}

@media only screen and (max-width: 1024px) {
	// Custom styling for elements
	body {
		width: 100%;
		height: 100vh;
		overflow-x: hidden;
		color: $fontLight;
		font-family: $font;
		font-size: $bodyFontSize;
		background: $backgroundLight;
	}

	nav {
		width: 100%;
		height: 100vh;
		@include flexColumn();
		justify-content: flex-start;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		padding: 0;
		transform: translateY(-100%);
		transition: $smoothTransition;
	}

	.nav__active {
		@include flexColumn();
		transform: translateY(0);
		background: $backgroundDark;
	}

	.top__nav__wrapper {
		width: 100%;
		height: 20%;
		display: flex;
		justify-content: space-between;
	}

	.logo__container {
		padding: 0;
		margin: 0 1rem;
		position: unset;
		width: auto;
		height: 8rem;
		text-align: center;
	}

	.nav__list__container {
		width: 100%;
		height: 70%;
		@include flexColumn();
		overflow-y: auto;
	}

	nav ul {
		width: 100%;
		height: auto;
		@include flexColumn();
	}

	nav ul li {
		width: 100%;
	}

	nav ul li a {
		padding: 2rem 0;
		width: 100%;
	}

	.burger__container {
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 50px;
		height: 40px;
		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;
		margin: 0.5rem;
		cursor: pointer;
	}

	.burger__line {
		transition: $smoothTransition;
		background: $highlightText;
	}

	.burger__cross .line1 {
		transform: rotate(-45deg) translate(-50%, 50%);
	}

	.burger__cross .line2 {
		transform: translate(50%);
		opacity: 0;
	}

	.burger__cross .line3 {
		transform: rotate(45deg) translate(-40%, 40%);
	}
	
	// Header styling
	header {
		height: 100%;
		background-attachment: scroll;
	}

	// Title container style
	.text__container {
		height: 100%;
		padding: 1rem;
		justify-content: center;
	}

	.header__container {
		@include flexColumn();
		margin-bottom: 2rem;
	}

	.header__container--services {
		margin: 2rem;
	}

	.header__logo__container {
		height: auto;
		margin: 2rem;
		width: 60%;
	}

	// Section styling
	section {
		padding: 1rem;
	}

	.content__wrapper {
		width: 100%;
	}

	.text__wrapper {
		width: 100%;
	}

	.img__wrapper {
		width: 100%;
		margin: 1rem 0;
	}

	// Styling for services section
	.section__title {
		margin-bottom: 1rem;
	}
	
	.card__wrapper {
		width: 100%;
		margin: 1rem;
	}

	.card__img__container {
		height: 50%;
		width: 100%;
		border-radius: 2rem 2rem 0 0;
	}
		
	// Team section styling
	.team__members__container {
		width: 100%;
	}

	// Each individual member
	.member__container {
		width: 100%;
		margin: 1rem 0;
		padding: 1rem 0;
	}

	.member__image__container {
		width: 100%;
	}

	.member__image__container img {
		max-width: 12rem;
		height: 12rem;
	}

	.member__icons__container {
		font-size: 4rem;
	}

	// Contact page styling
	.social__icons__container {
		width: 100%;
	}

	#contactForm {
		padding: 1rem;
		width: 100%;
		box-sizing: border-box;
	}

	// Top input container style
	.input__container--top {
		margin: 0;
	}

	// Bottom input container style
	.input__container--bottom {
		width: 100%;
	}

	.input__container {
		width: 100%;
	}

	label {
		font-size: $h4;
		color: $fontLight;
	}

	input {
		margin-bottom: 2rem;
	}

	// Message div styling
	#msgInput {
		min-height: auto;
		width: 100%;
	}	

	// Form buttons styling
	.form__buttons__container {
		width: 70%;
	}

	// Footer styling
	footer {
		justify-content: space-around;
		padding: 2rem 0;
	}

	.footer--left {
		width: 40%;
	}

	.footer--right {
		width: 50%;
	}

	// Hidden class to hide elements
	.hidden {
		display: none;
	}
}